{% extends 'template/defaultTemplate.html.twig' %}

{% block page_title %}<title>{{ game.name }}</title>{% endblock %}

{% block content %}
    <a href="{{ url('game_list') }}"></a>
    <h1>Game :</h1>
    <table class="appear-fade">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Review</th>
        </tr>
        <tr>
            <td><img height="200px" src="{{ asset(game.image) }}"></td>
            <td style="min-width: 250px"><h2>{{ game.name }}</h2></td>
            <td><p>{{ game.description }}</p></td>
            <td width="150px"><h1>{{ (game.sumOfVote / game.numberOfVote) | round(2, 'floor') }} | 10</h1></td>
        </tr>
    </table>
    <h1>Comment :</h1>
    <table class="appear-fade">
        <tr>
            <th>User name :</th>
            <th>Comment</th>
            <th>Note :</th>
        </tr>
        <tr>
            <td><h2>Html pure</h2></td>
            <td><p>Ce n'est pas du php pour l'instant bla bla bla bla bla bla bla bla bla</p></td>
            <td width="150px"><h1>8</h1></td>
        </tr>
    </table>
{% endblock %}
