{% extends 'template/defaultTemplate.html.twig' %}

{% block page_title %}<title>{{ game.name }}</title>{% endblock %}

{% block content %}
    <a href="{{ url('game_list') }}"> >>> Return to the Game List <<< </a>
    <table class="appear-fade">
        <tr>
            <th colspan="3"> Game :</th>
        </tr>
        <tr>
            <td><img class="image" src="{{ asset(game.image) }}"></td>
            <td>
                <h2>{{ game.name }}</h2>
                <p>{{ game.description }}</p>
            </td>
            <td class="gameNote"><h1>{{ game.rating | round(2, 'floor') }} | 10</h1></td>
        </tr>
    </table>
    <h1>Comment :</h1>


    {% if isCommentSave %}
        <p class="alert-green"> Merci de votre commentaire ! </p>
    {% endif %}

    <label class="required">Note : </label>

    <div onmousemove="activateHover(event)" class="starParent">
        <div id="star0" data-number="0" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star1" data-number="1" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star2" data-number="2" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star3" data-number="3" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star4" data-number="4" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star5" data-number="5" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star6" data-number="6" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star7" data-number="7" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star8" data-number="8" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="star9" data-number="9" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <div id="notePreview"> ~ | 10 </div>
    </div>

    <script>
        function activateHover(event) {
            for (var div in event.path) {
                if (event.path[div].className === "star") {
                    $('#notePreview')[0].innerHTML = (parseInt(event.path[div].dataset.number) + 1) + " | 10";
                    for (var y = 0; y <= 9; y++) {
                        if (y <= event.path[div].dataset.number) {
                            $('#star' + y)[0].innerHTML = "<i class=\"fa fa-star\" aria-hidden=\"true\"></i>";
                        } else {
                            $('#star' + y)[0].innerHTML = "<i class=\"fa fa-star-o\" aria-hidden=\"true\"></i>";
                        }
                    }
                }
            }
        }

        function onStarMouseClick(div) {
            console.log(div.dataset.number);
            document.getElementById("form_note").value = (parseInt(div.dataset.number) + 1);
        }

        $('.star').on("click", function (event) {
            onStarMouseClick(event.currentTarget);
        });

    </script>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <table class="appear-fade">
        <tr>
            <th colspan="3"><h1>Comments : </h1></th>
        </tr>
        {% for comment in commentsArray %}
            <tr>
                <td class="tdUser">
                    <img class="image" src="{{ asset(comment.userClass.imageLink) }}">
                    <h2>{{ comment.userClass.pseudo }}</h2>
                </td>
                <td><h3>{{ comment.commentClass.comment }}</h3></td>
                <td class="gameNote"><h1>{{ comment.commentClass.note }}</h1></td>
            </tr>
        {% else %}
            <tr>
                <td><h3>No Comment For this Game ! Be the first to let one.</h3></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
