<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="{{ asset("asset/style/B.css") }}">
    <link rel="stylesheet" href="{{ asset("asset/style/style.css") }}">
    <link rel="stylesheet" href="{{ asset("asset/font-awesome/css/font-awesome.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% block page_title %}
        <title>Strategy Games Review</title>
    {% endblock %}
</head>
<body>

<header class="header-center deskop-header appear-fade">

    <ul id="button-header-desktop">
        <li><button class="button-6-4 hover-shake pointer" onclick="document.location = '{{ url('login') }}'">sign in</button></li>
        <li><button class="button-6-4 hover-shake pointer" onclick="document.location = '{{ url('signUp') }}'">sign up</button></li>
    </ul>
    <ul>
        <li><h3><a href="{{ url('game_list') }}">Games List</a></h3></li>
    </ul>


</header>

{% block content '' %}


</body>
</html>